.header{
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;

}
.pages {
    color: #316685;
    text-align: center;
    font-size: calc(1.5rem + 2vw);
    margin-top: 10%;
    
   
  }

  .navbar {
    background-color: transparent;
    height: 7.4rem;
    display: flex;
    justify-content: center;
    // align-items: center;
    font-size: 1.4rem;
    position: sticky;
    top: 0;
    z-index: 20;
   
  }
  .activebg{
    background-color: $color-white;
    transition: background-color 0.5s ease;
    border-bottom: 1px solid $color-anti-flash-white1;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7.4rem;
    max-width: 120rem;
  }
  
  .main-container{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,0.3);
  }
  
  .nav-logo {
    align-items: center;
    margin-left: 2rem;
    margin-right: 1.6rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    background-color: transparent;
    // flex-grow: 1;
  }
  
  .nav-menu {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
  
  }
  
  .nav-links {
    color: $color-white;
    text-decoration: none;
    padding: 1rem 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    // border-bottom: 3px solid transparent;
  }
  .nav-links--black{
    color: $color-black;
  }
  .fa-code {
    margin-left: 1rem;
  }
  
  .nav-item {
    // line-height: 4rem;
    margin-right: 1rem;
    // flex-grow: 1;
  }
  
  .nav-items{
    display: flex;
    align-items: center;

  }

  .nav-links.child1{
    border-left: 1px solid $color-anti-flash-white1;
  }

  .nav-links.btn{
    border-radius: 5px;
    border: 1px solid $color-anti-flash-white1;;
  }

  .nav-links.bdr{
    border-radius: 5px;
    border: 1px solid $color-anti-flash-white1;
  }
  .nav-links.phn{
    border-right: 1px solid $color-anti-flash-white1;
    margin-right: 1.3rem;
  }
//   .nav-item:after {
//     content: "";
//     display: block;
//     height: 3px;
//     width: 0;
//     background: transparent;
//     transition: width 0.7s ease, background-color 0.5s ease;
//   }
  
//   .nav-item:hover:after {
//     width: 100%;
//     background: #ffdd40;
//   }
  
  .nav-item.active {
    color: #ffdd40;
    border: 1px solid #ffdd40;
  }
  
  .nav-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {

    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1px solid #fff;
      position: absolute;
      top: 7.4rem;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }

    .nav-menu.active {
      background: $color-white;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-items{
        display: flex;
        flex-direction: column;
        align-items: center;
    
      }
    .nav-item.active {
      color: #ffdd40;
    //   border: none;
    }
 .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: #ffdd40;
  }
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      border: none !important;
      display: table;
    }
  
    .nav-icon {
      display: flex;
      margin-right: 2rem;
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   transform: translate(-100%, 60%);
      font-size: 2rem;
      cursor: pointer;
      color: #ffdd40;
    }
    
  }